<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>
  <nav class="topBar">
    <div class="centerCol">
      <div class="header">
        <h1 class="banner">ari rizzi<wbr/>tano</h1>
        <ul class="navItems">
          <li><a href="/" {% if page.active_page == 'home' %}class="active"{% endif %}>work</a></li>
          <li><a href="/writing" {% if page.active_page == 'writing' %}class="active"{% endif %}>writing</a></li>
          <li><a href="/about" {% if page.active_page == 'about' %}class="active"{% endif %}>about</a></li>
          <li><a href="http://github.com/arizzitano" target="_blank">github</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="centerCol">
    {{ content }}
  </div>
  <footer>
    <ul class="contactIcons">
      <li><a href="http://twitter.com/arizzitano" target="_blank">&#xe16d;</a></li>
      <li><a href="http://github.com/arizzitano" target="_blank">&#xe188;</a></li>
      <li><a href="http://www.linkedin.com/in/arizzitano/" target="_blank">&#xe600;</a></li>
      <li><a href="mailto:arizzitano@gmail.com" target="_blank">&#xe601;</a></li>
    </ul>
  </footer>
  <script src="/js/site.js"></script>
</body>
</html>
